In [1]:
import pandas as pd

## Create dataframe from dictionary

In [5]:
d = {'id': [100, 101, 102], 'color': ['red', 'blue', 'black']}
df = pd.DataFrame(d)
df

   color   id
0    red  100
1   blue  101
2  black  102

In [6]:
# passing a dict to dataframe convert keys to column names and values to column values
# by default column names are order by alphabetics

## Change columns order when creating dataframe

In [7]:
df = pd.DataFrame(d, columns=['id', 'color'])
df

    id  color
0  100    red
1  101   blue
2  102  black

In [8]:
# by default index column is integer values starting from 0 and so on

## Create dataframe with custom index

In [9]:
df = pd.DataFrame(d, columns=['id', 'color'], index=['a', 'b', 'c'])
df

    id  color
a  100    red
b  101   blue
c  102  black

## What if we pass list of lists to dataframe

In [11]:
lists = [['red', 100], ['blue', 101], ['black', 102]]
df = pd.DataFrame(lists)
df

       0    1
0    red  100
1   blue  101
2  black  102

In [12]:
# passing list of lists to dataframe convert each list to a row in dataframe

## Create a new series and attach it to existing dataframe

In [14]:
s = pd.Series([1, 2, 3])
s

0    1
1    2
2    3
dtype: int64

In [16]:
df['series'] = s
df

       0    1  series
0    red  100       1
1   blue  101       2
2  black  102       3

## Create a new series and attach it to existing dataframe using dataframe concat method

In [28]:
s = pd.Series([11, 12], name='concat_series')
s

0    11
1    12
Name: concat_series, dtype: int64

In [29]:
pd.concat([df, s], axis=1)

       0    1  series  concat_series
0    red  100       1             11
1   blue  101       2             12
2  black  102       3            NaN

In [ ]:
# name of the series became the column name in the dataframe